.explore {
  text-align: center;
  padding-left: 25%;

}

.explore-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.drink-link {
  text-decoration: none;
  color: inherit;
}

.drink-card {
  width: 120px;
  height: 120px; /* Altura fixa para uniformizar */
  padding: 10px;
  background-color: #222;
  border: 2px solid #a83eff;
  border-radius: 10px;
  text-align: center;
  color: white;
  display: flex;
  align-items: center; /* Centraliza o texto verticalmente */
  justify-content: center; /* Centraliza o texto horizontalmente */
  transition: background-color 0.3s ease;
}

.drink-card:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
