.edit-profile {
    background-color: #2c2c2c;
    color: #a83eff;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
    border: 2px solid #a83eff;
    margin-left: 25%;
    width: 70%;
  }
  
  .edit-profile h2 {
    font-size: 48px;
    color: #a83eff;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    font-size: 1.5rem;
    color: #d9d9d9;
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    background-color: #383838;
    border: none;
    border-radius: 8px;
    color: white;
  }
  
  .form-group input:focus,
  .form-group textarea:focus {
    outline: none;
    background-color: #4e4e4e;
  }
  
  button {
    padding: 10px 20px;
    background-color: #b083f1;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-family: "Oswald", sans-serif;
  }
  
  button:hover {
    background-color: #a071e1;
  }
  